body {
	.bee-form .bee-form-row .bee-field button,
	.bee-form select {
		font-size: inherit;
		font-family: inherit
	}

	.bee-row-24 .bee-col-1 .bee-block-5,
	.bee-row-24 .bee-col-1 .bee-block-5 .bee-button-container {
		text-align: center
	}

	body {
		background-color: #ffffff;
		color: #000000;
		font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif
	}

	a {
		color: #7a7a7a
	}

	* {
		box-sizing: border-box
	}

	body,
	h1,
	h2,
	h3,
	p {
		margin: 0
	}

	.bee-menu .bee-hamburger-trigger {
		display: none
	}

	.bee-row-content {
		max-width: 1440px;
		margin: 0 auto;
		display: flex
	}

	.bee-row-content .bee-col-w1 {
		flex-basis: 8%
	}

	.bee-row-content .bee-col-w3 {
		flex-basis: 25%
	}

	.bee-row-content .bee-col-w5 {
		flex-basis: 42%
	}

	.bee-row-content .bee-col-w6 {
		flex-basis: 50%
	}

	.bee-row-content .bee-col-w7 {
		flex-basis: 58%
	}

	.bee-row-content .bee-col-w9 {
		flex-basis: 75%
	}

	.bee-row-24 .bee-col-1 .bee-block-5 div.label:not(.inline),
	.bee-row-24 .bee-col-1 .bee-block-5 label:not(.inline),
	.bee-row-content .bee-col-w12 {
		flex-basis: 100%
	}

	.bee-menu ul li a {
		text-decoration: none
	}

	.bee-image {
		overflow: auto
	}

	.bee-image .bee-right {
		float: right
	}

	.bee-row-16 .bee-col-2 .bee-block-2,
	.bee-row-2 .bee-col-2 .bee-block-2,
	.bee-row-24 .bee-col-1 .bee-block-5 .bee-form-row:not(.bee-sidelabel) input:not([type=checkbox]):not([type=radio]) {
		width: 100%
	}

	.bee-form .bee-form-row .bee-field {
		padding: 3px;
		display: flex;
		flex: 1;
		flex-wrap: wrap;
		align-items: center
	}

	.bee-form .bee-form-row .bee-field input:not([type=checkbox]):not([type=radio]),
	.bee-form .bee-form-row .bee-field select {
		flex-grow: 1;
		font-family: inherit;
		font-size: inherit
	}

	.bee-form .bee-form-row .bee-field input[type=checkbox]:not(:first-of-type) {
		margin-left: 15px
	}

	.bee-form .bee-form-row .bee-field .bee-button-container {
		flex-grow: 1
	}

	.bee-form input[type=color] {
		border: none;
		height: 38px
	}

	.bee-form input[type=color]::-webkit-color-swatch-wrapper {
		margin: 0;
		padding: 2px
	}

	.bee-menu ul {
		margin: 0;
		padding: 0
	}

	.bee-form input[type=color]::-webkit-color-swatch {
		margin: 0;
		padding: 0
	}

	.bee-form select {
		display: block;
    -webkit-appearance: none;
    appearance: none;  }
  .bee-icon {
		display: inline-block;
		vertical-align: middle
	}

	.bee-icon .bee-content {
		display: flex;
		align-items: center
	}

	.bee-image img {
		display: block;
		width: 100%
	}

	.bee-menu .bee-hamburger-controls {
		cursor: pointer;
		display: inline-block;
		position: relative
	}

	.bee-menu .bee-hamburger-controls span {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		background-size: 100%;
		background-repeat: no-repeat;
		transition: .12s ease-in-out
	}

	.bee-menu ul {
		list-style-type: none
	}

	.bee-menu ul.bee-horizontal li {
		display: inline-block
	}

	.bee-paragraph,
	.bee-text {
		overflow-wrap: anywhere
	}

	.bee-social .icon img {
		max-height: 32px
	}

	.bee-row-1,
	.bee-row-27 {
		background-color: #082940;
		background-repeat: no-repeat
	}

	.bee-row-1 .bee-row-content,
	.bee-row-3 .bee-row-content {
		background-repeat: no-repeat;
		border-radius: 0;
		color: #000000
	}

	.bee-row-1 .bee-col-1 {
		padding: 10px 5px 5px 10px
	}

	.bee-row-1 .bee-col-1 .bee-block-1 {
		padding: 10px
	}

	.bee-row-1 .bee-col-2,
	.bee-row-11 .bee-col-3,
	.bee-row-12 .bee-col-3,
	.bee-row-13 .bee-col-3,
	.bee-row-14 .bee-col-3,
	.bee-row-15 .bee-col-1,
	.bee-row-18 .bee-col-3,
	.bee-row-19 .bee-col-3,
	.bee-row-20 .bee-col-3,
	.bee-row-21 .bee-col-3,
	.bee-row-22 .bee-col-3,
	.bee-row-23 .bee-col-1,
	.bee-row-5 .bee-col-3,
	.bee-row-6 .bee-col-3,
	.bee-row-7 .bee-col-3,
	.bee-row-8 .bee-col-3,
	.bee-row-9 .bee-col-1 {
		padding-bottom: 5px;
		padding-top: 5px
	}

	.bee-row-1 .bee-col-2 .bee-block-1 {
		color: #ffffff;
		font-family: inherit;
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 1px;
		padding: 10px;
		text-align: right
	}

	.bee-row-2 {
		background-color: #ffffff;
		background-image: url('https://d1oco4z2z1fhwp.cloudfront.net/templates/default/8491/web-hero-background.jpg');
		background-repeat: no-repeat;
		background-size: cover
	}

	.bee-row-2 .bee-row-content,
	.bee-row-24 .bee-row-content {
		background-repeat: no-repeat;
		background-size: auto;
		border-radius: 0;
		color: #000000
	}

	.bee-row-16 .bee-col-1,
	.bee-row-2 .bee-col-1 {
		padding-left: 40px
	}

	.bee-row-11 .bee-col-2 .bee-block-1,
	.bee-row-12 .bee-col-2 .bee-block-1,
	.bee-row-13 .bee-col-2 .bee-block-1,
	.bee-row-14 .bee-col-2 .bee-block-1,
	.bee-row-16 .bee-col-1 .bee-block-2,
	.bee-row-18 .bee-col-2 .bee-block-1,
	.bee-row-19 .bee-col-2 .bee-block-1,
	.bee-row-2 .bee-col-1 .bee-block-2,
	.bee-row-20 .bee-col-2 .bee-block-1,
	.bee-row-21 .bee-col-2 .bee-block-1,
	.bee-row-22 .bee-col-2 .bee-block-1,
	.bee-row-25 .bee-col-1 .bee-block-2,
	.bee-row-26 .bee-col-1 .bee-block-2,
	.bee-row-5 .bee-col-2 .bee-block-1,
	.bee-row-6 .bee-col-2 .bee-block-1,
	.bee-row-7 .bee-col-2 .bee-block-1,
	.bee-row-8 .bee-col-2 .bee-block-1 {
		padding: 10px 15px 5px;
		text-align: center;
		width: 100%
	}

	.bee-row-16 .bee-col-1 .bee-block-4,
	.bee-row-16 .bee-col-1 .bee-block-6,
	.bee-row-2 .bee-col-1 .bee-block-4,
	.bee-row-25 .bee-col-1 .bee-block-4 {
		padding: 10px 15px
	}

	.bee-row-3 {
		background-color: #124e78;
		background-repeat: no-repeat
	}

	.bee-row-3 .bee-col-1 {
		padding-bottom: 10px;
		padding-top: 5px
	}

	.bee-row-10 .bee-col-1 .bee-block-2,
	.bee-row-17 .bee-col-1 .bee-block-2,
	.bee-row-24 .bee-col-1 .bee-block-2,
	.bee-row-3 .bee-col-1 .bee-block-2,
	.bee-row-3 .bee-col-1 .bee-block-4,
	.bee-row-4 .bee-col-1 .bee-block-2 {
		padding: 5px 10px;
		text-align: center;
		width: 100%
	}

	.bee-row-17,
	.bee-row-18,
	.bee-row-25,
	.bee-row-4,
	.bee-row-5 {
		background-color: #ffffff;
		background-repeat: no-repeat;
		background-size: auto
	}

	.bee-row-17 .bee-row-content,
	.bee-row-18 .bee-row-content,
	.bee-row-25 .bee-row-content,
	.bee-row-4 .bee-row-content,
	.bee-row-5 .bee-row-content {
		background-color: #ffffff;
		background-repeat: no-repeat;
		background-size: auto;
		border-radius: 0;
		color: #000000
	}

	.bee-row-10 .bee-col-1,
	.bee-row-17 .bee-col-1,
	.bee-row-25 .bee-col-1,
	.bee-row-26 .bee-col-1,
	.bee-row-4 .bee-col-1 {
		padding-bottom: 20px;
		padding-top: 5px
	}

	.bee-row-11 .bee-col-1,
	.bee-row-12 .bee-col-1,
	.bee-row-13 .bee-col-1,
	.bee-row-14 .bee-col-1,
	.bee-row-18 .bee-col-1,
	.bee-row-19 .bee-col-1,
	.bee-row-20 .bee-col-1,
	.bee-row-21 .bee-col-1,
	.bee-row-22 .bee-col-1,
	.bee-row-5 .bee-col-1,
	.bee-row-6 .bee-col-1,
	.bee-row-7 .bee-col-1,
	.bee-row-8 .bee-col-1 {
		padding: 10px 15px 5px
	}

	.bee-row-11 .bee-col-1 .bee-block-1,
	.bee-row-12 .bee-col-1 .bee-block-1,
	.bee-row-13 .bee-col-1 .bee-block-1,
	.bee-row-14 .bee-col-1 .bee-block-1,
	.bee-row-18 .bee-col-1 .bee-block-1,
	.bee-row-19 .bee-col-1 .bee-block-1,
	.bee-row-20 .bee-col-1 .bee-block-1,
	.bee-row-21 .bee-col-1 .bee-block-1,
	.bee-row-22 .bee-col-1 .bee-block-1,
	.bee-row-5 .bee-col-1 .bee-block-1,
	.bee-row-6 .bee-col-1 .bee-block-1,
	.bee-row-7 .bee-col-1 .bee-block-1,
	.bee-row-8 .bee-col-1 .bee-block-1 {
		color: #000000;
		font-family: inherit;
		font-size: 14px;
		font-weight: 400;
		text-align: right
	}

	.bee-row-11 .bee-col-2,
	.bee-row-12 .bee-col-2,
	.bee-row-13 .bee-col-2,
	.bee-row-14 .bee-col-2,
	.bee-row-18 .bee-col-2,
	.bee-row-19 .bee-col-2,
	.bee-row-20 .bee-col-2,
	.bee-row-21 .bee-col-2,
	.bee-row-22 .bee-col-2,
	.bee-row-5 .bee-col-2,
	.bee-row-6 .bee-col-2,
	.bee-row-7 .bee-col-2,
	.bee-row-8 .bee-col-2 {
		padding-bottom: 5px;
		padding-right: 25px;
		padding-top: 5px
	}

	.bee-row-11 .bee-col-2 .bee-block-2,
	.bee-row-12 .bee-col-2 .bee-block-2,
	.bee-row-13 .bee-col-2 .bee-block-2,
	.bee-row-14 .bee-col-2 .bee-block-2,
	.bee-row-18 .bee-col-2 .bee-block-2,
	.bee-row-19 .bee-col-2 .bee-block-2,
	.bee-row-20 .bee-col-2 .bee-block-2,
	.bee-row-21 .bee-col-2 .bee-block-2,
	.bee-row-22 .bee-col-2 .bee-block-2,
	.bee-row-5 .bee-col-2 .bee-block-2,
	.bee-row-6 .bee-col-2 .bee-block-2,
	.bee-row-7 .bee-col-2 .bee-block-2,
	.bee-row-8 .bee-col-2 .bee-block-2 {
		padding-bottom: 20px;
		padding-left: 15px;
		padding-right: 30px
	}

	.bee-row-19,
	.bee-row-20,
	.bee-row-21,
	.bee-row-22,
	.bee-row-23,
	.bee-row-6,
	.bee-row-7,
	.bee-row-8,
	.bee-row-9 {
		background-color: #ffffff;
		background-repeat: no-repeat
	}

	.bee-row-19 .bee-row-content,
	.bee-row-20 .bee-row-content,
	.bee-row-21 .bee-row-content,
	.bee-row-22 .bee-row-content,
	.bee-row-23 .bee-row-content,
	.bee-row-6 .bee-row-content,
	.bee-row-7 .bee-row-content,
	.bee-row-8 .bee-row-content,
	.bee-row-9 .bee-row-content {
		background-color: #ffffff;
		background-repeat: no-repeat;
		border-radius: 0;
		color: #000000
	}

	.bee-row-10,
	.bee-row-11,
	.bee-row-12,
	.bee-row-13,
	.bee-row-14 {
		background-color: #ffece1;
		background-repeat: no-repeat;
		background-size: auto
	}

	.bee-row-10 .bee-row-content,
	.bee-row-11 .bee-row-content,
	.bee-row-12 .bee-row-content,
	.bee-row-13 .bee-row-content,
	.bee-row-14 .bee-row-content {
		background-color: #ffece1;
		background-repeat: no-repeat;
		background-size: auto;
		border-radius: 0;
		color: #000000
	}

	.bee-row-15 {
		background-color: #ffece1;
		background-repeat: no-repeat
	}

	.bee-row-15 .bee-row-content {
		background-color: #ffece1;
		background-repeat: no-repeat;
		border-radius: 0;
		color: #000000
	}

	.bee-row-16,
	.bee-row-16 .bee-row-content,
	.bee-row-26,
	.bee-row-26 .bee-row-content {
		background-color: #124e78;
		background-size: auto;
		background-repeat: no-repeat
	}

	.bee-row-16 .bee-row-content,
	.bee-row-26 .bee-row-content {
		border-radius: 0;
		color: #000000
	}

	.bee-row-24 {
		background-color: #ffece1;
		background-image: url('https://d1oco4z2z1fhwp.cloudfront.net/templates/default/8491/web-color-background.jpg');
		background-repeat: no-repeat;
		background-size: cover
	}

	.bee-row-24 .bee-col-1 .bee-block-4 {
		padding-bottom: 20px;
		padding-left: 15px;
		padding-right: 15px
	}

	.bee-row-24 .bee-col-1 .bee-block-5 {
		font-family: inherit;
		font-size: 16px;
		font-weight: 400;
		padding: 10px
	}

	.bee-row-25 .bee-col-1 .bee-block-6 {
		padding: 10px;
		text-align: center
	}

	.bee-row-27 .bee-row-content {
		background-repeat: no-repeat;
		color: #000000
	}

	.bee-row-27 .bee-col-1 {
		padding-bottom: 15px;
		padding-left: 15px;
		padding-top: 5px
	}

	.bee-row-27 .bee-col-1 .bee-block-1,
	.bee-row-27 .bee-col-2 .bee-block-1,
	.bee-row-27 .bee-col-3 .bee-block-1,
	.bee-row-27 .bee-col-4 .bee-block-1 {
		padding: 25px 10px 10px
	}

	.bee-row-27 .bee-col-2,
	.bee-row-27 .bee-col-3,
	.bee-row-27 .bee-col-4 {
		padding-bottom: 15px;
		padding-top: 5px
	}

	.bee-row-27 .bee-col-4 .bee-block-2 {
		text-align: left
	}

	.bee-row-1 .bee-col-1 .bee-block-1 {
		color: #ffffff;
		direction: ltr;
		font-size: 16px;
		font-weight: 400;
		letter-spacing: 0;
		line-height: 120%;
		text-align: left
	}

	.bee-row-1 .bee-col-1 .bee-block-1 a,
	.bee-row-1 .bee-col-2 .bee-block-1 li a {
		color: #ffffff
	}

	.bee-row-1 .bee-col-1 .bee-block-1 p:not(:last-child),
	.bee-row-11 .bee-col-2 .bee-block-2 p:not(:last-child),
	.bee-row-12 .bee-col-2 .bee-block-2 p:not(:last-child),
	.bee-row-13 .bee-col-2 .bee-block-2 p:not(:last-child),
	.bee-row-14 .bee-col-2 .bee-block-2 p:not(:last-child),
	.bee-row-16 .bee-col-1 .bee-block-4 p:not(:last-child),
	.bee-row-16 .bee-col-1 .bee-block-6 p:not(:last-child),
	.bee-row-18 .bee-col-2 .bee-block-2 p:not(:last-child),
	.bee-row-19 .bee-col-2 .bee-block-2 p:not(:last-child),
	.bee-row-2 .bee-col-1 .bee-block-4 p:not(:last-child),
	.bee-row-20 .bee-col-2 .bee-block-2 p:not(:last-child),
	.bee-row-21 .bee-col-2 .bee-block-2 p:not(:last-child),
	.bee-row-22 .bee-col-2 .bee-block-2 p:not(:last-child),
	.bee-row-24 .bee-col-1 .bee-block-4 p:not(:last-child),
	.bee-row-25 .bee-col-1 .bee-block-4 p:not(:last-child),
	.bee-row-5 .bee-col-2 .bee-block-2 p:not(:last-child),
	.bee-row-6 .bee-col-2 .bee-block-2 p:not(:last-child),
	.bee-row-7 .bee-col-2 .bee-block-2 p:not(:last-child),
	.bee-row-8 .bee-col-2 .bee-block-2 p:not(:last-child) {
		margin-bottom: 16px
	}

	.bee-row-1 .bee-col-2 .bee-block-1 li,
	.bee-row-11 .bee-col-1 .bee-block-1 .bee-icon-image,
	.bee-row-12 .bee-col-1 .bee-block-1 .bee-icon-image,
	.bee-row-13 .bee-col-1 .bee-block-1 .bee-icon-image,
	.bee-row-14 .bee-col-1 .bee-block-1 .bee-icon-image,
	.bee-row-18 .bee-col-1 .bee-block-1 .bee-icon-image,
	.bee-row-19 .bee-col-1 .bee-block-1 .bee-icon-image,
	.bee-row-20 .bee-col-1 .bee-block-1 .bee-icon-image,
	.bee-row-21 .bee-col-1 .bee-block-1 .bee-icon-image,
	.bee-row-22 .bee-col-1 .bee-block-1 .bee-icon-image,
	.bee-row-5 .bee-col-1 .bee-block-1 .bee-icon-image,
	.bee-row-6 .bee-col-1 .bee-block-1 .bee-icon-image,
	.bee-row-7 .bee-col-1 .bee-block-1 .bee-icon-image,
	.bee-row-8 .bee-col-1 .bee-block-1 .bee-icon-image {
		padding: 5px
	}

	.bee-row-2 .bee-col-1 .bee-block-4 {
		color: #101112;
		direction: ltr;
		font-size: 20px;
		font-weight: 400;
		letter-spacing: 0;
		line-height: 120%;
		text-align: left
	}

	.bee-row-16 .bee-col-1 .bee-block-4 a,
	.bee-row-16 .bee-col-1 .bee-block-6 a,
	.bee-row-2 .bee-col-1 .bee-block-4 a,
	.bee-row-25 .bee-col-1 .bee-block-4 a {
		color: #7747FF
	}

	.bee-row-11 .bee-col-1 .bee-block-1 .bee-icon:not(.bee-icon-first) .bee-content,
	.bee-row-12 .bee-col-1 .bee-block-1 .bee-icon:not(.bee-icon-first) .bee-content,
	.bee-row-13 .bee-col-1 .bee-block-1 .bee-icon:not(.bee-icon-first) .bee-content,
	.bee-row-14 .bee-col-1 .bee-block-1 .bee-icon:not(.bee-icon-first) .bee-content,
	.bee-row-18 .bee-col-1 .bee-block-1 .bee-icon:not(.bee-icon-first) .bee-content,
	.bee-row-19 .bee-col-1 .bee-block-1 .bee-icon:not(.bee-icon-first) .bee-content,
	.bee-row-20 .bee-col-1 .bee-block-1 .bee-icon:not(.bee-icon-first) .bee-content,
	.bee-row-21 .bee-col-1 .bee-block-1 .bee-icon:not(.bee-icon-first) .bee-content,
	.bee-row-22 .bee-col-1 .bee-block-1 .bee-icon:not(.bee-icon-first) .bee-content,
	.bee-row-5 .bee-col-1 .bee-block-1 .bee-icon:not(.bee-icon-first) .bee-content,
	.bee-row-6 .bee-col-1 .bee-block-1 .bee-icon:not(.bee-icon-first) .bee-content,
	.bee-row-7 .bee-col-1 .bee-block-1 .bee-icon:not(.bee-icon-first) .bee-content,
	.bee-row-8 .bee-col-1 .bee-block-1 .bee-icon:not(.bee-icon-first) .bee-content {
		margin-left: 0
	}

	.bee-row-5 .bee-col-1 .bee-block-1 .bee-icon::not(.bee-icon-last) .bee-content {
		margin-right: 0
	}

	.bee-row-11 .bee-col-2 .bee-block-2,
	.bee-row-12 .bee-col-2 .bee-block-2,
	.bee-row-13 .bee-col-2 .bee-block-2,
	.bee-row-14 .bee-col-2 .bee-block-2,
	.bee-row-18 .bee-col-2 .bee-block-2,
	.bee-row-19 .bee-col-2 .bee-block-2,
	.bee-row-5 .bee-col-2 .bee-block-2,
	.bee-row-6 .bee-col-2 .bee-block-2 {
		color: #364145;
		direction: ltr;
		font-size: 16px;
		font-weight: 400;
		letter-spacing: 0;
		line-height: 120%;
		text-align: left
	}

	.bee-row-11 .bee-col-2 .bee-block-2 a,
	.bee-row-12 .bee-col-2 .bee-block-2 a,
	.bee-row-13 .bee-col-2 .bee-block-2 a,
	.bee-row-14 .bee-col-2 .bee-block-2 a,
	.bee-row-18 .bee-col-2 .bee-block-2 a,
	.bee-row-19 .bee-col-2 .bee-block-2 a,
	.bee-row-5 .bee-col-2 .bee-block-2 a,
	.bee-row-6 .bee-col-2 .bee-block-2 a {
		color: #8a3c90
	}

	.bee-row-6 .bee-col-1 .bee-block-1 .bee-icon::not(.bee-icon-last) .bee-content {
		margin-right: 0
	}

	.bee-row-7 .bee-col-1 .bee-block-1 .bee-icon::not(.bee-icon-last) .bee-content {
		margin-right: 0
	}

	.bee-row-8 .bee-col-1 .bee-block-1 .bee-icon::not(.bee-icon-last) .bee-content {
		margin-right: 0
	}

	.bee-row-20 .bee-col-2 .bee-block-2,
	.bee-row-21 .bee-col-2 .bee-block-2,
	.bee-row-22 .bee-col-2 .bee-block-2,
	.bee-row-7 .bee-col-2 .bee-block-2,
	.bee-row-8 .bee-col-2 .bee-block-2 {
		color: #000000;
		direction: ltr;
		font-size: 16px;
		font-weight: 400;
		letter-spacing: 0;
		line-height: 120%;
		text-align: left
	}

	.bee-row-20 .bee-col-2 .bee-block-2 a,
	.bee-row-21 .bee-col-2 .bee-block-2 a,
	.bee-row-22 .bee-col-2 .bee-block-2 a,
	.bee-row-24 .bee-col-1 .bee-block-4 a,
	.bee-row-7 .bee-col-2 .bee-block-2 a,
	.bee-row-8 .bee-col-2 .bee-block-2 a {
		color: #000000
	}

	.bee-row-11 .bee-col-1 .bee-block-1 .bee-icon::not(.bee-icon-last) .bee-content {
		margin-right: 0
	}

	.bee-row-12 .bee-col-1 .bee-block-1 .bee-icon::not(.bee-icon-last) .bee-content {
		margin-right: 0
	}

	.bee-row-13 .bee-col-1 .bee-block-1 .bee-icon::not(.bee-icon-last) .bee-content {
		margin-right: 0
	}

	.bee-row-14 .bee-col-1 .bee-block-1 .bee-icon::not(.bee-icon-last) .bee-content {
		margin-right: 0
	}

	.bee-row-16 .bee-col-1 .bee-block-4,
	.bee-row-16 .bee-col-1 .bee-block-6 {
		color: #ffffff;
		direction: ltr;
		font-size: 20px;
		font-weight: 400;
		letter-spacing: 0;
		line-height: 120%;
		text-align: left
	}

	.bee-row-18 .bee-col-1 .bee-block-1 .bee-icon::not(.bee-icon-last) .bee-content {
		margin-right: 0
	}

	.bee-row-19 .bee-col-1 .bee-block-1 .bee-icon::not(.bee-icon-last) .bee-content {
		margin-right: 0
	}

	.bee-row-20 .bee-col-1 .bee-block-1 .bee-icon::not(.bee-icon-last) .bee-content {
		margin-right: 0
	}

	.bee-row-21 .bee-col-1 .bee-block-1 .bee-icon::not(.bee-icon-last) .bee-content {
		margin-right: 0
	}

	.bee-row-22 .bee-col-1 .bee-block-1 .bee-icon::not(.bee-icon-last) .bee-content {
		margin-right: 0
	}

	.bee-row-24 .bee-col-1 .bee-block-4 {
		color: #000000;
		direction: ltr;
		font-size: 16px;
		font-weight: 700;
		letter-spacing: 0;
		line-height: 120%;
		text-align: center
	}

	.bee-row-25 .bee-col-1 .bee-block-4 {
		color: #000000;
		direction: ltr;
		font-size: 20px;
		font-weight: 400;
		letter-spacing: 0;
		line-height: 120%;
		text-align: center
	}

	@media (max-width:768px) {
		.bee-form form {
			width: 100% !important
		}

		.bee-menu ul.with-bee-hamburger {
			display: none;
			padding: 5px 0;
			position: relative;
			top: -4px
		}

		.bee-menu ul.with-bee-hamburger li {
			display: block;
			text-align: center
		}

		.bee-menu ul.with-bee-hamburger li a {
			text-decoration: none
		}

		.bee-menu ul.with-bee-hamburger span,
		.bee-mobile_hide {
			display: none
		}

		#bee-hamburger-memu-r0c1m0:checked~ul,
		.bee-row-content:not(.no_stack) {
			display: block
		}

		.bee-row-11 .bee-col-1,
		.bee-row-12 .bee-col-1,
		.bee-row-13 .bee-col-1,
		.bee-row-14 .bee-col-1,
		.bee-row-18 .bee-col-1,
		.bee-row-19 .bee-col-1,
		.bee-row-20 .bee-col-1,
		.bee-row-21 .bee-col-1,
		.bee-row-22 .bee-col-1,
		.bee-row-5 .bee-col-1,
		.bee-row-6 .bee-col-1,
		.bee-row-7 .bee-col-1,
		.bee-row-8 .bee-col-1 {
			padding: 5px 0 !important
		}

		.bee-row-11 .bee-col-2,
		.bee-row-12 .bee-col-2,
		.bee-row-13 .bee-col-2,
		.bee-row-14 .bee-col-2,
		.bee-row-18 .bee-col-2,
		.bee-row-19 .bee-col-2,
		.bee-row-20 .bee-col-2,
		.bee-row-21 .bee-col-2,
		.bee-row-22 .bee-col-2,
		.bee-row-5 .bee-col-2,
		.bee-row-6 .bee-col-2,
		.bee-row-7 .bee-col-2,
		.bee-row-8 .bee-col-2 {
			padding: 5px 10px !important
		}

		.bee-row-27 .bee-col-1,
		.bee-row-27 .bee-col-2,
		.bee-row-27 .bee-col-3 {
			padding: 0 15px !important
		}

		.bee-row-27 .bee-col-4 {
			padding: 0 15px 20px !important
		}

		.bee-row-16 .bee-col-1 .bee-block-1,
		.bee-row-16 .bee-col-1 .bee-block-3,
		.bee-row-16 .bee-col-1 .bee-block-5,
		.bee-row-16 .bee-col-1 .bee-block-7,
		.bee-row-16 .bee-col-2 .bee-block-1,
		.bee-row-16 .bee-col-2 .bee-block-3,
		.bee-row-2 .bee-col-1 .bee-block-1,
		.bee-row-2 .bee-col-1 .bee-block-3,
		.bee-row-2 .bee-col-1 .bee-block-5,
		.bee-row-2 .bee-col-2 .bee-block-1,
		.bee-row-2 .bee-col-2 .bee-block-3 {
			height: 35px !important
		}

		.bee-row-1 .bee-col-2 .bee-block-1,
		.bee-row-11 .bee-col-1 .bee-block-1,
		.bee-row-11 .bee-col-2 .bee-block-1 h3,
		.bee-row-12 .bee-col-1 .bee-block-1,
		.bee-row-12 .bee-col-2 .bee-block-1 h3,
		.bee-row-13 .bee-col-1 .bee-block-1,
		.bee-row-13 .bee-col-2 .bee-block-1 h3,
		.bee-row-14 .bee-col-1 .bee-block-1,
		.bee-row-14 .bee-col-2 .bee-block-1 h3,
		.bee-row-16 .bee-col-1 .bee-block-2,
		.bee-row-18 .bee-col-1 .bee-block-1,
		.bee-row-18 .bee-col-2 .bee-block-1 h3,
		.bee-row-19 .bee-col-1 .bee-block-1,
		.bee-row-19 .bee-col-2 .bee-block-1 h3,
		.bee-row-2 .bee-col-1 .bee-block-2,
		.bee-row-20 .bee-col-1 .bee-block-1,
		.bee-row-20 .bee-col-2 .bee-block-1 h3,
		.bee-row-21 .bee-col-1 .bee-block-1,
		.bee-row-21 .bee-col-2 .bee-block-1 h3,
		.bee-row-22 .bee-col-1 .bee-block-1,
		.bee-row-22 .bee-col-2 .bee-block-1 h3,
		.bee-row-25 .bee-col-1 .bee-block-2,
		.bee-row-26 .bee-col-1 .bee-block-2,
		.bee-row-5 .bee-col-1 .bee-block-1,
		.bee-row-5 .bee-col-2 .bee-block-1 h3,
		.bee-row-6 .bee-col-1 .bee-block-1,
		.bee-row-6 .bee-col-2 .bee-block-1 h3,
		.bee-row-7 .bee-col-1 .bee-block-1,
		.bee-row-7 .bee-col-2 .bee-block-1 h3,
		.bee-row-8 .bee-col-1 .bee-block-1,
		.bee-row-8 .bee-col-2 .bee-block-1 h3 {
			text-align: center !important
		}

		.bee-row-16 .bee-col-1 .bee-block-2 h1,
		.bee-row-2 .bee-col-1 .bee-block-2 h1,
		.bee-row-25 .bee-col-1 .bee-block-2 h1,
		.bee-row-26 .bee-col-1 .bee-block-2 h1 {
			font-size: 28px !important;
			text-align: center !important
		}

		.bee-row-1 .bee-col-1 .bee-block-1 {
			text-align: center !important;
			font-size: 14px !important
		}

		.bee-row-1 .bee-col-2 .bee-block-1 .bee-hamburger-controls {
			width: 36px;
			height: 36px;
			background-color: #124e78;
			border-radius: 0
		}

		.bee-row-1 .bee-col-2 .bee-block-1 .bee-hamburger-controls span {
			width: 18px;
			height: 18px
		}

		.bee-row-1 .bee-col-2 .bee-block-1 .bee-hamburger-controls span.bee-hamburger-open {
			background-image: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjY0IiB2aWV3Qm94PSIwIDAgNjQgNjQiIHdpZHRoPSI2NCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjZmZmZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxyZWN0IGhlaWdodD0iMTIiIHJ4PSI2IiB3aWR0aD0iNjQiLz48cmVjdCBoZWlnaHQ9IjEyIiByeD0iNiIgd2lkdGg9IjY0IiB5PSI1MiIvPjxyZWN0IGhlaWdodD0iMTIiIHJ4PSI2IiB3aWR0aD0iNjQiIHk9IjI2Ii8+PC9nPjwvc3ZnPg==");
			transform: translate(-50%, -50%) scaleY(1)
		}

		.bee-row-1 .bee-col-2 .bee-block-1 .bee-hamburger-controls span.bee-hamburger-close {
			background-image: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjY0IiB2aWV3Qm94PSIwIDAgNjQgNjQiIHdpZHRoPSI2NCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjZmZmZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxyZWN0IGhlaWdodD0iMTIiIHJ4PSI2IiB0cmFuc2Zvcm09Im1hdHJpeCgtLjcwNzEwNjc4IC0uNzA3MTA2NzggLjcwNzEwNjc4IC0uNzA3MTA2NzggMzEuOTkxMzc4IDc3LjIzNDAxOSkiIHdpZHRoPSI4MiIgeD0iLTkuMDA4NjIyIiB5PSIyNS45OTEzNzgiLz48cmVjdCBoZWlnaHQ9IjEyIiByeD0iNiIgdHJhbnNmb3JtPSJtYXRyaXgoLS43MDcxMDY3OCAuNzA3MTA2NzggLS43MDcxMDY3OCAtLjcwNzEwNjc4IDc3LjgxOTgwNiAzMi4yMzQwMTkpIiB3aWR0aD0iODIiIHg9Ii04Ljc2NTk4MSIgeT0iMjYuMjM0MDE5Ii8+PC9nPjwvc3ZnPg==");
			transform: translate(-50%, -50%) scaleY(0)
		}

		.bee-row-1 .bee-col-2 .bee-block-1 ul.with-bee-hamburger {
			background-color: #124e78
		}

		.bee-row-1 .bee-col-2 .bee-block-1 ul.with-bee-hamburger li,
		.bee-row-1 .bee-col-2 .bee-block-1 ul.with-bee-hamburger li a {
			color: #ffffff
		}

		#bee-hamburger-memu-r0c1m0:checked~.bee-hamburger-controls .bee-hamburger-open {
			transform: translate(-50%, -50%) scaleY(0)
		}

		#bee-hamburger-memu-r0c1m0:checked~.bee-hamburger-controls .bee-hamburger-close {
			transform: translate(-50%, -50%) scaleY(1)
		}

		.bee-row-16 .bee-col-2 .bee-block-2 img,
		.bee-row-2 .bee-col-2 .bee-block-2 img {
			float: none !important;
			margin: 0 auto !important
		}

		.bee-row-16 .bee-col-1 .bee-block-4,
		.bee-row-16 .bee-col-1 .bee-block-6,
		.bee-row-2 .bee-col-1 .bee-block-4,
		.bee-row-25 .bee-col-1 .bee-block-4 {
			text-align: center !important;
			font-size: 17px !important
		}

		.bee-row-3 .bee-col-1 .bee-block-1,
		.bee-row-3 .bee-col-1 .bee-block-3,
		.bee-row-3 .bee-col-1 .bee-block-5 {
			height: 40px !important
		}

		.bee-row-3 .bee-col-1 .bee-block-2 h3,
		.bee-row-3 .bee-col-1 .bee-block-4 h3 {
			font-size: 17px !important
		}

		.bee-row-10 .bee-col-1 .bee-block-1,
		.bee-row-17 .bee-col-1 .bee-block-1,
		.bee-row-25 .bee-col-1 .bee-block-1,
		.bee-row-25 .bee-col-1 .bee-block-3,
		.bee-row-25 .bee-col-1 .bee-block-5,
		.bee-row-25 .bee-col-1 .bee-block-7,
		.bee-row-25 .bee-col-1 .bee-block-8,
		.bee-row-26 .bee-col-1 .bee-block-1,
		.bee-row-26 .bee-col-1 .bee-block-3,
		.bee-row-4 .bee-col-1 .bee-block-1 {
			height: 50px !important
		}

		.bee-row-10 .bee-col-1 .bee-block-2 h2,
		.bee-row-17 .bee-col-1 .bee-block-2 h2,
		.bee-row-24 .bee-col-1 .bee-block-2 h2,
		.bee-row-4 .bee-col-1 .bee-block-2 h2 {
			font-size: 26px !important
		}

		.bee-row-11 .bee-col-2 .bee-block-1,
		.bee-row-12 .bee-col-2 .bee-block-1,
		.bee-row-13 .bee-col-2 .bee-block-1,
		.bee-row-14 .bee-col-2 .bee-block-1,
		.bee-row-18 .bee-col-2 .bee-block-1,
		.bee-row-19 .bee-col-2 .bee-block-1,
		.bee-row-20 .bee-col-2 .bee-block-1,
		.bee-row-21 .bee-col-2 .bee-block-1,
		.bee-row-22 .bee-col-2 .bee-block-1,
		.bee-row-5 .bee-col-2 .bee-block-1,
		.bee-row-6 .bee-col-2 .bee-block-1,
		.bee-row-7 .bee-col-2 .bee-block-1,
		.bee-row-8 .bee-col-2 .bee-block-1 {
			padding: 10px 30px 5px !important;
			text-align: center !important
		}

		.bee-row-11 .bee-col-2 .bee-block-2,
		.bee-row-12 .bee-col-2 .bee-block-2,
		.bee-row-13 .bee-col-2 .bee-block-2,
		.bee-row-14 .bee-col-2 .bee-block-2,
		.bee-row-18 .bee-col-2 .bee-block-2,
		.bee-row-19 .bee-col-2 .bee-block-2,
		.bee-row-20 .bee-col-2 .bee-block-2,
		.bee-row-21 .bee-col-2 .bee-block-2,
		.bee-row-22 .bee-col-2 .bee-block-2,
		.bee-row-5 .bee-col-2 .bee-block-2,
		.bee-row-6 .bee-col-2 .bee-block-2,
		.bee-row-7 .bee-col-2 .bee-block-2,
		.bee-row-8 .bee-col-2 .bee-block-2 {
			padding: 10px 30px 20px !important;
			text-align: center !important
		}

		.bee-row-24 .bee-col-1 .bee-block-4 {
			padding: 10px 25px 20px !important;
			font-size: 15px !important
		}

		.bee-row-27 .bee-col-2 .bee-block-1 {
			padding: 5px 10px 0 !important
		}

		.bee-row-27 .bee-col-3 .bee-block-1 {
			padding: 0 10px !important
		}

		.bee-row-27 .bee-col-4 .bee-block-1 {
			padding: 0 10px 10px !important
		}
	}

	.bee-row-24 .bee-col-1 .bee-block-5 form {
		display: inline-block;
		width: 45%
	}

	.bee-row-24 .bee-col-1 .bee-block-5 div.label,
	.bee-row-24 .bee-col-1 .bee-block-5 label {
		color: #101112;
		letter-spacing: normal;
		line-height: 200%;
		text-align: left;
		display: block
	}

	.bee-row-24 .bee-col-1 .bee-block-5 ::-webkit-input-placeholder {
		color: #000000
	}

	.bee-row-24 .bee-col-1 .bee-block-5 :-moz-placeholder {
		color: #000000
	}

	.bee-row-24 .bee-col-1 .bee-block-5 ::-moz-placeholder {
		color: #000000
	}

	.bee-row-24 .bee-col-1 .bee-block-5 :-ms-input-placeholder {
		color: #000000
	}

	.bee-row-24 .bee-col-1 .bee-block-5 .bee-field>label:first-child,
	.bee-row-24 .bee-col-1 .bee-block-5 div.label {
		padding: 3px
	}

	.bee-row-24 .bee-col-1 .bee-block-5 input:not([type=checkbox]):not([type=radio]):not([type=image]),
	.bee-row-24 .bee-col-1 .bee-block-5 select {
		background-color: #ffffff;
		border-bottom: 1px solid transparent;
		border-left: 1px solid transparent;
		border-radius: 4px;
		border-right: 1px solid transparent;
		border-top: 1px solid transparent;
		color: #000000;
		padding: 5px;
		min-height: 42px
	}

	.bee-row-24 .bee-col-1 .bee-block-5 input:not([type=checkbox]):not([type=radio]):focus,
	.bee-row-24 .bee-col-1 .bee-block-5 select:focus {
		outline-color: #525252
	}

	.bee-row-24 .bee-col-1 .bee-block-5 select {
		background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMjIiIHZpZXdCb3g9IjAgMCA0NCAyMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMjAuNDc2NCA2LjcxTDE5LjUxMjEgNS43NDU3MUMxOS4zODM2IDUuNjE3MTQgMTkuMjMzNiA1LjU1Mjg2IDE5LjA2MjEgNS41NTI4NkMxOC44OTkzIDUuNTUyODYgMTguNzQ5MyA1LjYxNzE0IDE4LjYxMjEgNS43NDU3MUwxMS4wMDA3IDEzLjM1NzFMMy4zODkyNyA1Ljc0NTcxQzMuMjYwNyA1LjYxNzE0IDMuMTEwNyA1LjU1Mjg2IDIuOTM5MjcgNS41NTI4NkMyLjc3NjQyIDUuNTUyODYgMi42MzA3IDUuNjE3MTQgMi41MDIxMyA1Ljc0NTcxTDEuNTI0OTkgNi43MUMxLjM5NjQyIDYuODM4NTcgMS4zMzIxMyA2Ljk4ODU3IDEuMzMyMTMgNy4xNkMxLjMzMjEzIDcuMzIyODYgMS4zOTY0MiA3LjQ3Mjg2IDEuNTI0OTkgNy42MUwxMC41NjM2IDE2LjYzNTdDMTAuNjkyMSAxNi43NjQzIDEwLjgzNzggMTYuODI4NiAxMS4wMDA3IDE2LjgyODZDMTEuMTcyMSAxNi44Mjg2IDExLjMyMjEgMTYuNzY0MyAxMS40NTA3IDE2LjYzNTdMMjAuNDc2NCA3LjYxQzIwLjYwNSA3LjQ3Mjg2IDIwLjY2OTMgNy4zMjI4NiAyMC42NjkzIDcuMTZDMjAuNjY5MyA2Ljk4ODU3IDIwLjYwNSA2LjgzODU3IDIwLjQ3NjQgNi43MVoiIGZpbGw9IiMwMDAwMDAiLz48L3N2Zz4=")
	}

	.bee-row-24 .bee-col-1 .bee-block-5 button {
		background-color: #124e78;
		border-bottom: 0 solid transparent;
		border-left: 0 solid transparent;
		border-radius: 4px;
		border-right: 0px solid transparent;
		border-top: 0 solid transparent;
		color: #ffffff;
		letter-spacing: normal;
		line-height: 200%;
		padding: 5px 20px;
		width: auto
	}
}
  